.wrapper {
  //height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
//.bottomWrapper {
//  display: flex;
//  justify-content: space-between;
//}
.sidebarWrapper {
  float: left;
  width: 174px;
  display: inline-block;
  height: 100vh;
}